@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

:root {
  --c-white: #ffffff79;
  --c-black: #000;
  --c-ash: #eaeef6;
  --c-charcoal: #a0a0a0;
  --c-void: #141b22;
  --c-fair-pink: #ffedec;
  --c-apricot: #fbc8be;
  --c-coffee: #754d42;
  --c-del-rio: #917072;
  --c-java: #1fcac5;
  --c-titan-white: #f1eeff;
  --c-cold-purple: #a69fd6;
  --c-indigo: #6558d3;
  --c-governor: #4133b7;
}
body {
  background: url(https://i.postimg.cc/K8Gr831Z/wallpaperflare-com-wallpaper.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

/* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
.sect {
  padding: 90px 0;
  position: relative;
}

.collapse {
  display: block;
}

.middle-content {
  height: 10px;
  background-color: #616161;
}
.middle-content-over {
  background-color: #ff0000;
  height: 10px;
  width: 99%;
}
.progress {
  background-color: #00aaff;
  height: 100%;
  width: 50%; /* Adjust the width as needed */
}

.btn {
  background-color: #3a9fff;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  box-shadow: 0px 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn:hover {
  box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  width: 90%;
  max-width: 1000px;
  margin: 10vh auto;
}

.price-box__img {
  display: inline-block;
}

.price-box__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -100px;
}

.price-box__img {
  background-image: url("https://ordinalsbot.s3.us-west-2.amazonaws.com/d7c3eace-a347-409c-8c57-bee9f89515fc_350.png");
}

.card-logo {
  display: flex;
  flex-direction: column;
}
.card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.card.card1 {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  max-width: 500px;
  min-height: 500px;
}
.blank-space1 {
  height: 10px;
}
.information {
  background-color: var(--c-white);
  padding: 1.5rem;
}
.information .tag {
  display: inline-block;
  background-color: var(--c-titan-white);
  color: var(--c-indigo);
  font-weight: 600;
  margin-top: 10px;
  font-size: 3rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
}
.information .tag + * {
  margin-top: 1rem;
}
.information .title {
  font-size: 3rem;
  color: var(--c-void);
  line-height: 1.25;
  font-weight: 800;
}
.information .title + * {
  margin-top: 1rem;
}
.information .info {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
}
.information .info + * {
  margin-top: 1.25rem;
}
.middle-content {
  height: 10px;
  background-color: #616161;
}
.middle-content-over {
  background-color: #ff0000;
  height: 10px;
  width: 99%;
}

.information .button {
  font: inherit;
  line-height: 1;
  background-color: var(--c-white);
  border: 2px solid var(--c-indigo);
  color: var(--c-indigo);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.information .button:hover,
.information .button:focus {
  background-color: var(--c-indigo);
  color: var(--c-white);
}
.information .details {
  display: flex;
  gap: 1rem;
}
.information .details div {
  padding: 0.75em 1.5em;
  border: 2px solid rgb(0, 0, 0);

  background-color: var(--c-titan-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
}
.information .details dt {
  font-size: 0.875rem;
  color: var(--c-cold-purple);
}
.information .details dd {
  color: gray;
  font-weight: 600;
  font-size: 1.25rem;
}
.twitter-icon-container {
  position: absolute;
  top: 140px;
  left: 700px;
}

.blue-color {
  color: rgb(0, 152, 198);
}

.fa-brands {
  margin-top: 20px;
}

.plan {
  padding: 10px;
  background-color: var(--c-white);
  color: var(--c-del-rio);
}
.plan strong {
  font-weight: 600;
  color: var(--c-coffee);
}
.plan .inner {
  padding: 20px;
  padding-top: 40px;
  background-color: var(--c-fair-pink);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--c-apricot);
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--c-coffee);
}
.plan .pricing small {
  color: var(--c-del-rio);
  font-size: 0.75em;
  margin-left: 0.25em;
}
.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--c-coffee);
}
.plan .title + * {
  margin-top: 0.75rem;
}
.plan .info + * {
  margin-top: 1rem;
}
.plan .features {
  display: flex;
  flex-direction: column;
}
.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.plan .features li + * {
  margin-top: 0.75rem;
}
.plan .features .icon {
  background-color: var(--c-java);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--c-white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.plan .features .icon svg {
  width: 14px;
  height: 14px;
}
.plan .features + * {
  margin-top: 1.25rem;
}
.plan button {
  font: inherit;
  background-color: var(--c-indigo);
  border-radius: 6px;
  color: var(--c-white);
  font-weight: 500;
  font-size: 1.125rem;
  width: 100%;
  border: 0;
  padding: 1em;
}
.plan button:hover,
.plan button:focus {
  background-color: var(--c-governor);
}

.btn--white {
  background-color: #fff;
  border: 1px solid #ededed;
  color: #8198ae;
}
.balance-div .visible {
  background-color: rgba(255, 255, 255, 0.936);
  display: flex;
  align-items: center;
  justify-content: center;
}
.balance {
  padding: 10px;
  font-size: 16px;
  color: royalblue;
}

.btn--white:hover {
  background-color: #fff;
  color: #8198ae;
}

/*menu header*/
.header {
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 0.769);
}
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__elenco {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header__menu {
  float: right;
}
.header__el {
  padding: 0 25px;
  display: inline-block;
}
.header__img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.header__logo,
.header__menu {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}
.header__container {
  height: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer {
  background-color: #1f4467;
  width: 100vw;
  padding: 40px 0;
}

.footer__title {
  font-size: 18px;
  margin: 0;
  margin-left: 0px;
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
  color: #3a9fff;
}

.footer__light {
  color: #fff;
}

.footer__social {
  float: right;
}

.footer__social-l {
  margin-left: 15px;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .header-btn {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card {
  }
  .navbar-toggle {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }
  .header__container {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu {
    width: 100%;
  }
  .header {
    background-color: #ffffffb9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
  }
  .header__logo {
    padding: 12px 20px 12px 20px;
  }
  .header__el {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
  .footer {
    width: 110vw;

    padding: 25px 0;
  }
}

@media screen and (max-width: 480px) {
  .price-box {
    padding: 0px 20px;
  }
  .carousel-control__img {
    width: 20px;
  }
  .carousel-control.left {
    left: -5px;
  }
  .carousel-control.right {
    right: -5px;
  }
  .partner {
    width: 100%;
  }
  .footer {
    padding: 15px 0;
  }
  .footer__img {
    width: 15px;
  }
  .footer__title {
    font-size: 16px;
    margin-left: 5px;
  }
}
